@model IEnumerable<Penguins_Front_End.Models.ViewModels.MetricsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Team Penguins Home Screen</h1>

<p>
    <a asp-action="Create">Add Metric</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoutTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoutTime)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |  *@              
                <a asp-action="Delete" asp-controller="User" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
